.searchList {
    max-width: 1000px;
    margin: 35px auto;
    padding: 0;
    width: 80%;
}

#noResult {
    color: grey;
    font-size: 3em;
    text-align: center;
    height: 500px;
    line-height: 500px;
}

table {
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: auto;
    max-width: 1000px;
    display: block;
    height: 735px;
    width: 100%;
}

table * {
    position: relative;
}

table thead{
    color: #f0f0f0;
    position: sticky;
    top: 0px;
    z-index: 1;
}

table tbody{
    cursor: pointer;
}

table td, table th {
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #1b47b3;
    font-size: 16px;
}

table tbody tr {
    height: 48px;
    border-bottom: 1px solid #1b47b3;
}

table td, table th {
    text-align: left;
}

table td.l, table th.l {
    text-align: right;
}

table td.c, table th.c {
    text-align: center;
}

table td.r, table th.r {
    text-align: center;
}

@media screen and (max-width: 35.5em) {
    table {
        display: block;
    }

    table>*,
    table tr,
    table td,
    table th {
        display: block;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        height: auto;
        padding: 8px 0;
    }

    table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px;
    }

    table tbody tr td:before {
        position: absolute;
        font-weight: 700;
        width: 40%;
        left: 10px;
        top: 0;
    }

    table tbody tr td:nth-child(1):before {
        content: "점포명";
    }

    table tbody tr td:nth-child(2):before {
        content: "TEL";
    }

    table tbody tr td:nth-child(3):before {
        content: "주소";
    }
}