
/* header  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1.5px;
}

body {
    margin: 0px;
    padding-top: 120px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 510;
    min-width: auto;
}
div {
    min-width: auto;
}
html {
    line-height : 1.15; /*기본 행간 높이*/
    scroll-behavior: smooth;
}
a {
    text-decoration-line: none;
    background-color: transparent;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
    }

img {
    border-style: none;
    display: block;
    }
p {
    font-size: 1.5em;
}
header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 105px;
}

#nav {
    background-color : #1b47b3 ;
    height: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px;
}
.spanTitle {
    color: white;
    font-size: 2.2em;
}

#spanMini{
    font-size: 0.4em;
}

#searchBox {
    position: relative;
    width: 50%;
    min-width: 400px;
    background-color: #1b47b3;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchInput {
    position: relative;
    padding: 11px 20px;
    border: none;
    border-radius: 30px;
    width: 100%;
    font-size: 19px;
    background-color: white;
    color: #333;
    padding-left: 70px;
    outline: none;
}

.bi-search {
    position: absolute;
    left: 30px;
    color: #999;
    z-index: 1;
}

.anchor {
    display: flex;
}

.anchor a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}



/* row1 시작 */


.highlight{
    font-size: 1.3em;
    color: #3272e9;
    text-shadow: 1px 1px 5px black;
}
.row{
    background: #e9ecef;
    width : 100%;
    height: 600px;
    padding-top: 120px;
    border: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.row1{
    font-weight: 505;
    position: relative;
    width : 100%;
    height: 90vh;
    padding-top: 130px;
    padding-left: 40px;
    border: 0px;
    margin: -20px 0 auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)), url(../img/busanSea.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.row1 :first-child{
    margin-top: 4%;
    font-size: 50px;
}

#showBusanBusim {
    font-size: 36px;
    display: inline-block;
    margin-top: 4%;
    margin-left: 20%;
    text-align: right;
}

.bi-arrow-down-circle {
    font-size: 300%;
}

.arrowAndContent {
    position: absolute;
    left: 46%;
    bottom: 9%;
}

.arrowAndContent p {
    font-size: 18px;
}




/* row2 시작 */



.fromRow2toEnd {
    color: #555555;
}

.row2{
    width : 80%;
    height: 838px;
    margin-top: -105px;
    margin-bottom: 18px;
    padding-top: 180px;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.94),
        rgba(255, 255, 255, 0.94)), url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: right bottom;
}

.row2 img {
    width: 72%;
    border: solid 2px black;

}
.row2Container {
    width: 1100px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
.left {
    width: 30%;
}
#left{
    border-radius: 20px;
    float: left;
    margin-right: 30px;
}

.blueHighlight {
    border: solid 1px #5590ff;
    background-color: #5590ff;
    color: white;
}
.blueHighlight2 {
    border: solid 1px #5590ff;
    background-color: #5590ff;
    color: white;
    font-size: 2em;
}

.right {
    width: 100%;
    padding: 20px;
    float: left;
    text-align: center;
}

#safe {
    font-size: 2.22em;
    color: #333333;
    font-weight: bold;
    text-align: right;
}
#governmentInjung {
    font-size: 2.22em;
    color: #333333;
    font-weight: bold;
    text-align: left;
}


.onlyBlueFont {
    color: #5590ff;
    font-weight: 530;
}
.government {
    clear: both;
    box-sizing: border-box;
    margin-top: 150px;
}

.fontIsRight {
    box-sizing: border-box;
    text-align: left;
    font-size: 1.5em;
    margin-top: 35px;
}



/* row3 시작 */


.card {
    border: 1px solid #555555;
    margin-top: 60px;
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}
.imgBox {
    float: left;
    width: 250px;
    height: 250px;
    background-color: #fff;
    padding-right: 50px;
    
}
.indexImgBox {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #1b47b3;
    margin-left: 5px;
    margin-right: auto;
}
.fontLeftSide {
    text-align: left;
}
#bigBlackFont{
    display: inline-block;
    box-sizing: border-box;
    margin: 50px auto;
    text-align: center;
    font-size: 2em;
    color: #333333;
}

.row3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: -105px;
    padding-top: 180px;
    width : 56%;
    height: 838px;
    text-align: center;
    margin-bottom: 200px;
    background-image: linear-gradient(to left, transparent 1%, white),
    url(../img/imgBusiness.jpg);
}
.row3 img {
    float: left;
    width: 50%;
}

#busim {
    text-align: left;
    font-size: 2.3em;
    color: #333333;
    margin-left: 1px;
}
#articleUpFont{
    text-align: left;
}




/* row4 시작 */


.team_card1 {
    color: white;
    float: left;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)), url(../img/newFood.jpg);
    background-repeat: no-repeat;
    width: 300px;
    padding: 10px;
    height: 450px;
    margin: 60px 30px;
}

.none1{
    display: none;
    text-align: center;
}

.team_card1:hover .none1 {
    display: block;
}

#safeAndTasty{
    text-align: center;
    text-shadow: 1px 1px 16px black;
    font-size: 30px;
}

.team_caption1 {
    box-sizing: border-box;
    margin-top: 50%;
}

.team_card2 {
    color: white;
    float: left;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)), url(../img/newReview.jpg);
    background-repeat: no-repeat;
    width: 300px;
    padding: 10px;
    height: 450px;
    margin: 60px 30px;
}

.none2{
    display: none;
    text-align: center;
}

.team_card2:hover .none2 {
    display: block;
}

#personalReview{
    text-align: center;
    text-shadow: 1px 1px 16px black;
    font-size: 30px;
}

.team_caption2 {
    box-sizing: border-box;
    margin-top: 50%;
}


.team_card3 {
    color: white;
    float: left;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)), url(../img/newMap.jpg);
    background-repeat: no-repeat;
    width: 300px;
    padding: 10px;
    height: 450px;
    margin: 60px 30px;
}

.none3{
    display: none;
    text-align: center;
}

.team_card3:hover .none3 {
    display: block;
}

#whereIsRestaurant{
    text-align: center;
    text-shadow: 1px 1px 16px black;
    font-size: 30px;
}

.team_caption3 {
    box-sizing: border-box;
    margin-top: 50%;
}







.cardContent {
    width: 600px;
    height: 300px;
}

.searchList {
    width: 80%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1b47b3;
    margin-left: auto;
    margin-right: auto;
}
.searchResult {
    border-bottom: 1px solid #1b47b3;

}

.row4 {
    box-sizing: border-box;
    background : linear-gradient(to right, #5590ff, #2864d4 90%);
    width : 100%;
    height: 800px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
.row4Container {
    width : 1100px;
    padding-top: 20px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.row4Container h3 {
    text-align: center;

}
.row4Container p {
    font-size: 20px;
}

.serviceIntro {
    box-sizing: border-box;
    margin-top: 60px;
    text-align: center;
    color: white;
    font-size: 1.4em;
}

#food{
    
}

#whatDoYouWant{
    font-size: 2.2em;
}

.bi-search {
    font-size: 20px;
}
.team_card img {
    width: 100%;
    height: 250px;
}
.team_card i {
    font-size: 40px;
}
#jsonName {
    color: #1b47b3;
    font-size: 1.5em;
    margin: 0;
}
.bi-arrow-up-circle-fill{
    color: #1b47b3;
}

.top {
    text-align: center;
    clear: both;
    font-size: 2.5em;
}
#spanTop{
    display: inline-block;
    color: #1b47b3;
    font-size: 0.8em;
    letter-spacing: 0;
}







/*

.cardContent {
    width: 600px;
    height: 300px;
}

.searchList {
    width: 80%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1b47b3;
    margin-left: auto;
    margin-right: auto;
}
.searchResult {
    border-bottom: 1px solid #1b47b3;

}

.team_card{
    width: 300px;
    padding: 10px;
    height: 500px;
    float: left;
    border: 2px solid #1b47b3;
    margin: 60px 30px;
}
.row4 {
    box-sizing: border-box;
    background : linear-gradient(to right, #5590ff, #2864d4 70%);
    width : 100%;
    height: 770px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
.row4Container {
    width : 1100px;
    padding-top: 20px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.row4Container h3 {
    text-align: center;

}
.row4Container p {
    font-size: 20px;
}

.serviceIntro {
    box-sizing: border-box;
    margin-top: 60px;
    text-align: center;
    color: white;
    font-size: 1.4em;
}

#food{
    
}

#whatDoYouWant{
    font-size: 2.2em;
}

.bi-search {
    font-size: 20px;
}
.team_card img {
    width: 100%;
    height: 250px;
}
.team_card i {
    font-size: 40px;
}
#jsonName {
    color: #1b47b3;
    font-size: 1.5em;
    margin: 0;
}
.bi-arrow-up-circle-fill{
    color: #1b47b3;
}
*/
